.aboutUs-page {
  background-image: url("../assets/custommm.jpg"); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  padding: 50px 0;
  background-color: blueviolet;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .aboutUs-page {
      background-attachment: scroll; /* Change to scroll for better performance on mobile */
      padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .aboutUs-page {
      background-size: contain; /* Adjusts the image size for smaller screens */
      padding: 30px 0;
  }
}

@media (max-width: 480px) {
  .aboutUs-page {
      background-size: cover;
      background-position: center;
      padding: 20px 0;
  }
}
